*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.d_none {
  display: none;
}

#main .support .support_wrap, #hero_img .hero_wrap, .bg_point .logo_nav_wrap {
  margin: 0 auto;
}

.bg_black {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.bg_black h2 {
  font-size: 16px;
  font-weight: bolder;
  background: #660000;
  color: aliceblue;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  text-transform: uppercase;
}
.bg_black p {
  color: aliceblue;
  text-transform: capitalize;
  margin: 0 10px;
}

.bg_point {
  background: #b30000;
}
.bg_point .logo_nav_wrap {
  padding: 10px 0;
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg_point .logo_nav_wrap .main_nav {
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.bg_point .logo_nav_wrap .main_nav #gnb {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  column-gap: 3rem;
  color: aliceblue;
}
.bg_point .logo_nav_wrap .main_nav #gnb li {
  text-transform: capitalize;
  font-weight: bolder;
}
.bg_point .logo_nav_wrap .main_nav #gnb li a {
  padding: 5px;
  border-radius: 5px;
}
.bg_point .logo_nav_wrap .main_nav #gnb li:hover a {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: infinite;
  background-color: #222;
}
.bg_point .logo_nav_wrap .to_cart {
  position: relative;
  background: #222;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.bg_point .logo_nav_wrap .to_cart .item_count {
  background: aliceblue;
  color: #222;
  border-radius: 50%;
  padding: 0 5px;
  position: absolute;
  right: -10px;
  top: -10px;
}
.bg_point .logo_nav_wrap .to_cart img {
  max-width: 100%;
}

#hero_img {
  background: url(../images/hero4.jpg) no-repeat center/cover;
  min-height: 400px;
  color: #002e57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero_img .hero_wrap {
  width: 1190px;
}
#hero_img .hero_wrap .hero_contents {
  width: 476px;
}
#hero_img .hero_wrap .hero_contents h2 {
  font-size: 40px;
}
#hero_img .hero_wrap .hero_contents p {
  margin: 1rem auto;
}
#hero_img .hero_wrap .hero_contents .btn_transparent {
  background: transparent;
  padding: 5px;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: infinite;
}
#hero_img .hero_wrap .hero_contents .btn_transparent:hover {
  background: aliceblue;
  color: #222;
}
#hero_img .hero_wrap .hero_contents .border_white {
  border: 1px solid white;
  text-transform: capitalize;
  font-size: 16px;
}
#hero_img .hero_wrap .hero_contents .color_white {
  color: aliceblue;
}

#main {
  padding: 50px 0;
}
#main .support {
  padding: 25px 0;
}
#main .support .support_wrap {
  max-width: 1190px;
  margin: 1rem auto;
}

/*# sourceMappingURL=main.css.map */
